{{define "servers"}}
<!doctype html>
<html lang="en">
  <head>
    <script src="/static/htmx.min.js"></script>
    <script src="/static/json-enc.js"></script>
    <link href="/static/css/output.css" rel="stylesheet" />
    <title>{{ .Title }}</title>
  </head>
  <body id="screen-wrapper" class="min-h-screen bg-zinc-900 text-neutral-50">
    <header
      class="mx-auto flex w-full max-w-5xl items-center justify-between gap-4 p-6"
    >
      <h2 class="text-2xl font-bold text-amber-500">{{ .Title }}</h2>
      <div class="text-sm text-zinc-400">logged in as {{ .Username }}</div>
      <div>
        <button
          id="logout-button"
          class="rounded-lg bg-zinc-700 px-4 py-2 text-sm font-medium transition-colors hover:bg-zinc-600"
          hx-post="/api/v1/auth/logout"
          hx-swap="none"
        >
          Log Out
        </button>
        <script>
          document.body.addEventListener("htmx:afterRequest", function (event) {
            const reqElement = event.detail.elt;
            if (!reqElement) return;
            const responseStatus = event.detail.xhr.status;
            if (reqElement.id === "logout-button") {
              if (responseStatus !== 200) {
                window.location.href = "/login";
                return;
              }
              let data = {};
              try {
                data = JSON.parse(event.detail.xhr.responseText);
              } catch (error) {
                window.location.href = "/login";
                return;
              }
              if (data.message === "logout successful") {
                window.location.href = "/login";
              }
            }
          });
        </script>
        <div
          id="logout-error"
          class="mt-2 text-right text-sm font-medium text-red-500"
        ></div>
      </div>
    </header>
    <main class="mx-auto w-full max-w-5xl p-6">
      <div
        id="server-list"
        class="flex flex-col gap-4"
        hx-get="/api/v1/servers"
        hx-trigger="every 5s"
        hx-headers='{"Accept": "text/html"}'
      >
        {{ template "view" .Servers}}
      </div>
    </main>
  </body>
</html>
{{end}}
