{{define "servers"}}
<!doctype html>
<html lang="en">
  <head>
    <script src="/static/htmx.min.js"></script>
    <script src="/static/json-enc.js"></script>
    <title>{{ .Title }}</title>
  </head>
  <body>
    <header>
      <h2>{{ .Title }}</h2>
      <div>logged in as {{ .Username }}</div>
      <div>
        <button id="logout-button" hx-post="/api/v1/auth/logout" hx-swap="none">
          Log Out
        </button>
        <script>
          document.body.addEventListener("htmx:afterRequest", function (event) {
            const reqElement = event.detail.elt;
            if (!reqElement) return;
            const responseStatus = event.detail.xhr.status;
            if (reqElement.id === "logout-button") {
              if (responseStatus !== 200) {
                document.getElementById("logout-error").textContent =
                  event.detail.xhr.responseText;
                return;
              }
              let data = {};
              try {
                data = JSON.parse(event.detail.xhr.responseText);
              } catch (error) {
                document.getElementById("logout-error").textContent =
                  event.detail.xhr.responseText;
                return;
              }
              if (data.message === "logout successful") {
                window.location.href = "/login";
              }
            }
          });
        </script>
        <div id="logout-error"></div>
      </div>
    </header>
    <main>
      <div
        id="server-list"
        hx-get="/api/v1/servers"
        hx-trigger="every 5s"
        hx-headers='{"Accept": "text/html"}'
      >
        {{ template "view" .Servers}}
      </div>
    </main>
  </body>
</html>
{{end}}
